body,html{
    width:100%;
    overflow: hidden;
}
.container {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    float:center;
    padding: 0;
    background-color:black;
}
h1 {
    font-family:'Montserrat'; sans-serif;
    text-align:center;
    text-transform:uppercase;
    padding: 40px 0px 40px 0px;
    color: white;
}

.button-second {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top:-50px; /*half of button height*/
    margin-left:-125px; /*half of button width*/
}
.button {
    margin:auto;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    font-family:'Teko', sans-serif;
    font-size: 1.5em; 
    font-weight: 400;
    width: 250px;
    height: 100px ;
    padding: 20px 50px 20px 50px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: rgba(119, 119, 119, 0.411);
    text-align:center;
}
.button:hover{
    background-color:rgba(0, 0, 0, 0.644);
    color:white;
}